
<div class="jumbotron">
<h1 style="font-size: 120px">Nice try, u n00b!!!!!!</h1>
<p>Click here to  <%= link_to "sign up", test_path, class: "btn btn-primary btn-lg" %></p>
<p>Love your favorite Qunite, Ryan </p>
</div>